#preheader {
    padding: 7px;
    background-color: #f2f2f2;
}

#preheader .precontact {
    font-family: 'Crete Round', serif;
    font-size: 16px;
}

#preheader .call,
.mail {
    padding: 3px 10px;
    color: black;
}

#preheader .call {
    border-right: 2px solid;
}

#preheader .preheadcont {}

#preheader .presocial {
    font-size: 22px;
    margin-left: 61%;
    margin-top: -1%;
}

#preheader .presocial .fb,
.twit,
.gp {
    padding: 0px 5px;
}

#preheader .presocial .fb .fa {
    color: #3b5998;
}

#preheader .presocial .twit {
    color: #0084b4;
}

#preheader .presocial .gp {
    color: #d34836;
}


/*header*/

header {
    background-color: #246EB9;
    padding: 10px 0px;
    position: relative;
    box-shadow: 0px 3px 3px white;
}

header .logo {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
}

header #comp_name {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 23%;
}

header #comp_name h2 {
    display: inline;
}

header .logo img {
    height: 80px;
    width: 85px;
}

header .nav {
    color: white;
}

header .nav ul {
    list-style: none;
    margin-top: 26px;
    margin-left: 30%;
    font-family: 'Noticia Text', serif;
}

header .nav ul li {
    display: inline-block;
    padding: 5px 3px;
    font-size: 16px;
    margin: 0px 5px;
}

header .nav ul li:last-child {
    margin: 0px;
}

#mobmenu {
    display: none;
    position: absolute;
    top: 18%;
    left: 80%;
}

#mobmenu ul {
    list-style: none;
    padding: 1px 1px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8%;
}

#mobmenu ul li {
    width: 80px;
    height: 2px;
    margin: 13px 10px;
    background-color: #246eb9;
}

#mobmenulist {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

#mobmenulist ul {
    list-style: none;
    padding: 0px;
    color: white;
    margin-top: 12%;
    font-size: 30px;
}

#mobmenulist ul li {
    text-align: center;
    padding: 3% 0%;
}

.mobactive {
    background: rgba(244, 244, 244, 0.5);
    color: black;
}

#mobcross {
    border-radius: 50%;
    background-color: antiquewhite;
    display: inline-block;
    position: fixed;
    top: 4%;
    left: 86%;
    height: 50px;
    padding: 10px;
    text-align: center;
    width: 50px;
}


/*-------------------*/


/*slider*/

#image_slider {
    margin-bottom: 2%;
}


/*-------------------*/


/*content*/

#content {
    margin-bottom: 2%;
}

#content .categ {
    margin-bottom: 2%;
}

#content .categ .box {
    text-align: center;
    height: 270px;
    width: 98%;
    margin-left: 1%;
    position: relative;
    overflow: hidden;
}

#content .categ .box:hover img {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

#content .categ .box:hover .box-cont {
    font-size: 17px;
    padding: 7px;
    top: 87%;
    color: black;
    background: rgba(244, 244, 244, 0.5);
    transition: 0.5s;
}

#content .categ .box img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

#content .categ .box .box-cont {
    position: absolute;
    color: white;
    width: 100%;
    top: 89.3%;
    font-size: 16px;
    padding: 5px;
    background: rgba(1, 1, 1, 0.5);
}

#content .welcome {
    margin-bottom: 2%;
}

#content .welcome h1 {
    text-align: center;
    position: relative;
    width: 50%;
    left: 25%;
    color: #40346d;
    margin-bottom: 2%;
    /*    border: 1px solid red;*/
}

#content .welcome h1:after {
    position: absolute;
    height: 2px;
    background-color: #40346d;
    content: "";
    display: table;
    bottom: -12%;
    width: 86%;
    left: 7%;
}

#content .welcome .welcont {
    text-align: justify;
    color: #40346d;
    font-family: 'Crete Round', serif;
    font-size: 16px;
    width: 100%;
}

#content .membership {
    padding: 2% 0;
    border-radius: 15px;
    background-color: #4EA8C9;
}

#content .membership .memhead {
    text-align: center;
    position: relative;
    width: 16%;
    left: 40%;
    color: white;
    margin-bottom: 4%;
}

#content .membership .memhead:after {
    position: absolute;
    height: 2px;
    background-color: white;
    content: "";
    display: table;
    bottom: -12%;
    width: 100%;
}

#content .membership .memcont .mem {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    width: 55%;
    color: white;
    font-size: 16px;
    font-family: 'Noticia Text', serif;
    min-height: 70px;
    height: 20%;
    margin-left: 15%;
    box-shadow: 0px 0px 3px 3px white;
    transition: 0.5s;
}

#content .membership .memcont .mem:hover {
    box-shadow: 0px 3px 3px 3px white;
    transition: 0.5s;
    transform: translate(0px, -10px);
}

#content .membership .memcont .mem .iata {
    margin-top: 6%;
}

#content .membership .memcont .mem .appr {
    margin-top: 2%;
}

.active {
    border-bottom: 1px solid white;
}


/*-------------------*/


/*footer*/

footer {
    background-color: #000;
    padding: 10px 0;
}

footer .headadd,
.branchhead,
.footsocialhead {
    color: #999;
    font-family: 'Oswald', sans-serif;
}

footer .headoffcont,
.branchlist {
    color: #999;
    line-height: 1.625;
    /*    -webkit-font-smoothing: antialiased;*/
    font-family: 'Quattrocento', serif;
    font-size: 16px;
}

footer .headoffcont {
    width: 70%;
}

footer .headoffice,
.branch,
.footsocial {
    margin-left: 2%;
}

footer .headoffcont {
    margin-top: 7px;
}

footer .branch .branchlist ul {
    list-style: none;
    padding: 0px;
}

footer .branch .branchlist ul li {
    padding-top: 7px;
    padding-bottom: 2px;
    width: 70%;
    border-bottom: 1px solid #999;
}

footer .footsocial .footfb {
    background-color: #3b5998;
}

footer .footsocial .foottwit {
    background-color: #0084b4;
}

footer .footsocial .footgp {
    background-color: #d34836;
}

footer .footsocial .footfb,
.foottwit,
.footgp {
    color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    padding: 7px;
    margin-bottom: 6%;
}

footer .footsocial .fa {
    margin-top: 20%;
}

footer .footsocial .fset {
    position: relative;
}

footer .footsocial .fset span {
    position: absolute;
    color: #999;
    top: 25%;
    left: 15%;
}


/*-------------------*/


/*postfooter*/

#postfooter {
    background-color: #f2f2f2;
    font-family: 'Quattrocento', serif;
    color: #000;
    font-size: 16px;
}

#postfooter p {
    margin-top: 4px;
    text-align: center;
    padding: 5px;
}


/*-------------------*/


/*responsive*/

@media (max-width: 992px) {
    #preheader .precontact {
        font-size: 15px;
    }
    #preheader .presocial {
        margin-left: 55%;
    }
    header .nav ul {
        margin-left: 27.5%;
    }
    #content .membership .memhead {
        width: 20%;
    }
    #content .membership .memcont .mem .iata {
        margin-top: 14%;
    }
    #content .welcome h1 {
        width: 71%;
        left: 18%;
    }
}

@media (max-width:768px) {
    #preheader .presocial {
        margin-left: 46%;
    }
    header .nav ul {
        margin-left: 3.5%;
        margin-top: 18px;
    }
    header .logo img {
        height: 50px;
        width: 220px;
    }
    #content .categ .box {
        height: 200px;
        width: 100%;
        margin-left: 0%;
    }
    #content .categ .box .box-cont {
        top: 84.3%;
        font-size: 15px;
    }
    #content .categ .box:hover .box-cont {
        font-size: 15px;
        padding: 6px;
        top: 83%;
    }
    #content .welcome h1 {
        width: 78%;
        left: 13%;
        font-size: 31px;
    }
    #content .membership .memhead {
        width: 24%;
    }
    #content .membership .memcont .mem {
        margin-left: 22%;
        margin-bottom: 8%;
    }
    #content .membership .memcont .mem .iata {
        margin-top: 17%;
    }
    footer .headoffice,
    .branch,
    .footsocial {
        margin-left: 12%;
    }
    footer .headoffcont {
        width: 90%;
    }
    footer .headoffice,
    .branch,
    .footsocial {
        margin-left: 12%;
    }
    footer .branch .branchlist ul li {
        width: 80%;
    }
    footer .footsocial .fset span {
        top: 17%;
        left: 25%;
    }
    #postfooter {
        font-size: 14px;
    }
}

@media(max-width:640px) {
    #preheader {
        display: none;
    }
    header .nav {
        display: none;
    }
    #content .categ .box {
        height: 300px;
        width: 95%;
        margin-bottom: 2%;
        margin-left: 2.5%;
    }
    #content .categ .box:hover .box-cont {
        top: 89%;
        font-size: 16px;
    }
    #content .categ .box .box-cont {
        top: 89.3%;
    }
    #content .welcome h1 {
        width: 79%;
        left: 11%;
    }
    #content .welcome h1::after {
        width: 100%;
        left: 0%;
    }
    #content .welcome .welcont {
        padding: 10px 20px;
    }
    #content .membership .memcont .mem .iata {
        margin-top: 10%;
    }
    #content .membership .memcont .mem .appr {
        margin-top: 7%;
    }
    footer .branch .branchlist ul li {
        width: 50%;
    }
    footer .headoffice,
    .branch,
    .footsocial {
        margin-bottom: 6%;
    }
    footer .headoffcont {
        width: 45%;
    }
    footer .footsocial .fset span {
        display: none;
    }
    footer .footsocial .fset {
        display: inline-block;
        margin-right: 10%;
    }
    #postfooter {
        font-size: 12px;
    }
    #mobmenu {
        display: block;
    }
    #content .membership .memhead {
        width: 28%;
    }
    .memcont {
        margin-top: 8%;
    }
}

@media(max-width:480px) {
    #mobmenu {
        left: 74%;
    }
    #mobmenulist ul {
        margin-top: 17%;
    }
    #content .welcome h1 {
        width: 100%;
        left: 0;
        font-size: 28px;
    }
    #content .membership .memhead {
        width: 38%;
        left: 31%;
    }
    footer {
        text-align: center;
    }
    footer .headoffcont {
        width: 79%;
        text-align: justify;
        margin-left: 10%;
    }
    footer .branch .branchlist ul {
        margin-left: 23%;
    }
    footer .branch .branchlist ul li {
        width: 67%;
    }
}

@media(max-width:480px) {
    header .logo img {
        width: 187px;
        margin-left: -20px;
    }
    #mobmenu {
        left: 70%;
    }
    #mobmenu ul {
        padding: 0.1px 0.1px;
    }
    #mobmenulist ul {
        margin-top: 25%;
    }
    #mobmenu ul li {
        width: 65px;
    }
    #mobcross {
        left: 81%;
    }
    #content .membership .memhead {
        width: 57%;
        left: 21%;
    }
    #content .membership .memcont .mem .iata {
        margin-top: 21%;
    }
    #content .membership .memcont .mem {
        font-size: 14px;
    }
}


/*------------------*/